body{
    @include flexbox;
    .container{
        border-top:50px solid yellow;
        border-left: 50px solid yellow;
        border-right: 50px solid transparent;
        border-bottom: 50px solid yellow;
        border-radius: 100%;
        display: flex;
    }
    div{
        position: relative;
    }
    span{
            display: flex;
            padding: 10px;
            background-image:radial-gradient(  black 0%,black 20%,rgb(153, 141, 123) 20%,rgb(153, 141, 123) 40%,white 50%, white 100% );
            border-radius: 100%;
            position: absolute;
            left: -20px;
            top: -30px;
        }
}